@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic,700italic,900);

h1 {
    text-align: center;
    padding-top: 20px;
}

#costCentreNames {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#costCentreNames a {
    text-align: center;
    color:green;
    display: block;
}

#costCentreNames a:hover {
    font-weight: bold;
}

#costCentreNames ul {
    text-align: left;
    list-style-type: none;
    line-height: 1.6;
}

#costCentreNames ul li {
    text-align: left;
    justify-content: left;
}


#costCentreNames >div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#costCentre h1 {
    padding-top: 2em;
    text-align: center;
}
#costCentre div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#costCentre table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
    padding: 2em;
    transition: none;
    white-space: nowrap;
}

#costCentre table th {
    text-align: left;
    width: 3em;
    padding: 8px;
    font-size: 13pt;
    transition: none;
    white-space: nowrap;
}

#costCentre table td {
    text-align: left;
    padding: 5px;
    font-size: 12pt;
    transition: none;
    border-bottom: 1px solid #d6d9db;
    white-space: nowrap;
}

#costCentre tbody tr:hover {
    transition: none; /* Jävla Aurora */
    background-color: rgb(220, 220, 220) !important;
}

#costCentre table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#costCentre tbody tr{
    transition: none; /* Jävla Aurora */
}


@media screen and (max-width: 600px) {
    .hide-on-mobile {
        display: none;
    }
    
}

@media screen and (max-width: 900px) {
    .hide-on-half-desktop {
        display: none;
    }
}

.btn-group button {
    background-color: #d4d4d4;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 4px;
    margin: 5px;
    cursor: pointer; 
}

.centering { /* Oklart vad du vill döpa den till */
    display:flex; 
    justify-content: center;
}

div.page-title { /* För att fixa "header" */ 
    background-color: #78909C !important; 
    color: white; 
    padding-top: 35px;
    padding-bottom: 15px;
}