<!DOCTYPE html>
<html lang="en">
{{template "head.html" .}}
<body>
<div id="methone-container-replace"></div>
<div style="background-color: #78909C !important; color: white; padding: 20px;">
    <h1 style="font-weight: bolder; font-size: 42px;">Admin</h1>
</div>
<div style="align-items: center; text-align: center; align-content: center">
    <p>Ladda upp din budget här!</p>
    <p>Den ska vara i xlsx format, annars så dör du</p>
    <form action="/admin/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="budgetFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
        <input type="submit">
    </form>
</div>
<footer class="footer-toolbar" style="align-items: center; text-align: center;">
    <p>{{.motd}} © 2024 GOrdian</p>
    Budgetsystemet är skrivet av <a href="https://github.com/DouglasFischer">Douglas Fischer</a>
</footer>
</body>
</html>