<!DOCTYPE html>
<html lang="en">
{{template "head.html" .}}
<body>
    <div id="methone-container-replace"></div>
    <div style="background-color: #78909C !important; color: white; padding: 20px;">
        <h1 style="font-weight: bolder; font-size: 42px;">Budget: {{.costCentre.CostCentreName}}</h1>
    </div>
    <div id="costCentre">
        <div id="content">
            <table>
                <tr style="background-color: rgb(176,190,197) !important;">
                    <th style="font-size: 15pt;">{{.costCentre.CostCentreName}}</th>
                    <th class="hide-on-mobile hide-on-half-desktop"></th>
                    <th class="hide-on-mobile"
                        style="color: {{if gt .costCentreTotalIncome 0}} #4CAF50 {{else if lt .costCentreTotalIncome 0}} #E57373 {{else}} black{{end}}; text-align: right; font-size: 15pt;">
                        {{formatMoney .costCentreTotalIncome}} kr
                    </th>
                    <th class="hide-on-mobile"
                        style="color: {{if gt .costCentreTotalExpense 0}} #4CAF50 {{else if lt .costCentreTotalExpense 0}} #E57373 {{else}} black{{end}}; text-align: right; font-size: 15pt;">
                        {{formatMoney .costCentreTotalExpense}} kr
                    </th>
                    <th
                        style="color: {{if gt .costCentreTotalResult 0}} #4CAF50 {{else if lt .costCentreTotalResult 0}} #E57373 {{else}} black{{end}}; text-align: right; font-size: 15pt;">
                        {{formatMoney .costCentreTotalResult}} kr
                    </th>
                </tr>
                <tr style="height: 1em;"></tr>
                <tr style="background-color: rgb(176,190,197) !important; ">
                    <th>Budgetpost</th>
                    <th class="hide-on-mobile hide-on-half-desktop">Bokföringskonto</th>
                    <th class="hide-on-mobile" style="text-align: right;">Intäkter</th>
                    <th class="hide-on-mobile" style="text-align: right;">Utgifter</th>
                    <th style="text-align: right;">Resultat</th>
                </tr>

                </tr>
                {{range $_, $secondaryCostCentresWithBudgetLines := .secondaryCostCentresWithBudgetLinesList}}
                <tr style="background-color: rgb(207,216,220) !important;">
                    <th>{{$secondaryCostCentresWithBudgetLines.SecondaryCostCentreName}}</th>
                    <th class="hide-on-mobile hide-on-half-desktop"></th>
                    <th class="hide-on-mobile"
                        style="color: {{if gt $secondaryCostCentresWithBudgetLines.SecondaryCostCentreTotalIncome 0}} #4CAF50 {{else if lt $secondaryCostCentresWithBudgetLines.SecondaryCostCentreTotalIncome 0}} #E57373 {{else}} black{{end}}; text-align: right;">
                        {{formatMoney $secondaryCostCentresWithBudgetLines.SecondaryCostCentreTotalIncome}} kr</th>
                    <th class="hide-on-mobile"
                        style="color: {{if gt $secondaryCostCentresWithBudgetLines.SecondaryCostCentreTotalExpense 0}} #4CAF50 {{else if lt $secondaryCostCentresWithBudgetLines.SecondaryCostCentreTotalExpense 0}} #E57373 {{else}} black{{end}}; text-align: right;">
                        {{formatMoney $secondaryCostCentresWithBudgetLines.SecondaryCostCentreTotalExpense}} kr</th>
                    <th
                        style="color: {{if gt $secondaryCostCentresWithBudgetLines.SecondaryCostCentreTotalResult 0}} #4CAF50 {{else if lt $secondaryCostCentresWithBudgetLines.SecondaryCostCentreTotalResult 0}} #E57373 {{else}} black{{end}}; text-align: right;">
                        {{formatMoney $secondaryCostCentresWithBudgetLines.SecondaryCostCentreTotalResult}} kr</th>
                </tr>
                {{range $_, $budgetLines := $secondaryCostCentresWithBudgetLines.BudgetLines}}
                <tr>
                    <td style="white-space: wrap; color:black">{{$budgetLines.BudgetLineName}}</td>
                    <td class="hide-on-mobile hide-on-half-desktop">{{$budgetLines.BudgetLineAccount}}</td>
                    <td class="hide-on-mobile"
                        style="color: {{if gt $budgetLines.BudgetLineIncome 0}} #4CAF50 {{else if lt $budgetLines.BudgetLineIncome 0}} #E57373 {{else}} black{{end}}; text-align: right;">
                        {{formatMoney $budgetLines.BudgetLineIncome}} kr</td>
                    <td class="hide-on-mobile"
                        style="color: {{if gt $budgetLines.BudgetLineExpense 0}} #4CAF50 {{else if lt $budgetLines.BudgetLineExpense 0}} #E57373 {{else}} black{{end}}; text-align: right;">
                        {{formatMoney $budgetLines.BudgetLineExpense}} kr</td>
                    <td
                        style="color: {{if gt ( add $budgetLines.BudgetLineIncome $budgetLines.BudgetLineExpense ) 0}} #4CAF50 {{else if lt ( add $budgetLines.BudgetLineIncome $budgetLines.BudgetLineExpense ) 0}} #E57373 {{else}} black{{end}}; text-align: right;">
                        {{formatMoney ( add $budgetLines.BudgetLineIncome $budgetLines.BudgetLineExpense )}} kr</td>
                    </td>
                </tr>
                {{end}}
                <tr style="height: 1em;"></tr>
                {{end}}
            </table>
        </div>
        <footer class="footer-toolbar" style="align-items: center; text-align: center;">
            <p>{{ .motd }} © 2024 GOrdian</p>
            Budgetsystemet är skrivet av <a href="https://github.com/DouglasFischer">Douglas Fischer</a>
        </footer>
</body>

</html>