<!DOCTYPE html>
<html lang="en">
{{template "head.html" .}}
<body>
<div id="methone-container-replace"></div>
<div style="background-color: #78909C !important; color: white; padding: 20px;">
    <h1 style="font-weight: bolder; font-size: 42px;">Rambudget</h1>
</div>
<div id="content">
    <table>
        <tr style="background-color: rgb(176,190,197) !important;">
            <th>Nämnd/Projekt</th>
            <th style="text-align: right;">Intäkter</th>
            <th style="text-align: right;">Utgifter</th>
            <th style="text-align: right;">Varav Internt</th>
            <th style="text-align: right;">Resultat</th>
        </tr>
        <tr style="background-color: rgb(207,216,220) !important;">
            <th>Nämnder</th>
        </tr>
            {{range $_, $committeeframeline := .committeeframelines}}
                <tr>
                    <td>
                        {{$committeeframeline[0]}}
                    </td>
                    <td>
                        {{$committeeframeline[1]}}
                    </td>
                    <td>
                        {{$committeeframeline[2]}}
                    </td>
                    <td>
                        {{$committeeframeline[3]}}
                    </td>
                    <td>
                        {{$committeeframeline[4]}}
                    </td>
                </tr>
            {{end}}
        <tr style="background-color: rgb(207,216,220) !important;">
            <th>Projekt</th>
        </tr>
        {{range $_, $projectframeline:= .projectframelines}}
        <tr>
            <td>
                {{$projectframeline[0]}}
            </td>
            <td>
                {{$projectframeline[1]}}
            </td>
            <td>
                {{$projectframeline[2]}}
            </td>
            <td>
                {{$projectframeline[3]}}
            </td>
            <td>
                {{$projectframeline[4]}}
            </td>
        </tr>
        {{end}}
        <tr style="background-color: rgb(207,216,220) !important;">
            <th>Övrigt</th>
        </tr>
        {{range $_, $otherframeline:= .otherframelines}}
        <tr>
            <td>
                {{$otherframeline[0]}}
            </td>
            <td>
                {{$otherframeline[1]}}
            </td>
            <td>
                {{$otherframeline[2]}}
            </td>
            <td>
                {{$otherframeline[3]}}
            </td>
            <td>
                {{$otherframeline[4]}}
            </td>
        </tr>
        {{end}}
        <tr style="background-color: rgb(207,216,220) !important;">
            <th>Totalt</th>
        </tr>
        <tr>
            <td>
                {{.totalframeline[0]}}
            </td>
            <td>
                {{.totalframeline[1]}}
            </td>
            <td>
                {{.totalframeline[2]}}
            </td>
            <td>
                {{.totalframeline[3]}}
            </td>
            <td>
                {{.totalframeline[4]}}
            </td>
        </tr>
    </table>
    Nämnder
    <br>
    {{range $_,$committeeframeline:= .committeeframelines}}
    <div>
        {{$committeeframeline}}
    </div>
    <br>
    {{end}}
    Projekt
    <br>
    {{range $_,$projectframeline:= .projectframelines}}
    <div>
        {{$projectframeline}}
    </div>
    <br>
    {{end}}
    Övrigt
    <br>
    {{range $_,$otherframeline:= .otherframelines}}
    <div>
        {{$otherframeline}}
    </div>
    <br>
    {{end}}
    Totalt
    <br>
    {{ .totalframeline }}
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer class="footer-toolbar" style="align-items: center; text-align: center;">
    <p>{{ .motd }} © 2024 GOrdian</p>
    Budgetsystemet är skrivet av <a href="https://github.com/DouglasFischer">Douglas Fischer</a>
</footer>
</body>
</html>
