<!DOCTYPE html>
<html lang="en">
{{template "head.html" .}}
<body>
<div id="methone-container-replace"></div>
<div style="background-color: #78909C !important; color: white; padding: 20px;">
    <h1 style="font-weight: bolder; font-size: 42px;">Rambudget</h1>
</div>
<div>
    Nämnder
    <br>
    {{range $_,$committeeframeline:= .committeeframelines}}
    <div>
        {{$committeeframeline}}
    </div>
    <br>
    {{end}}
    Projekt
    <br>
    {{range $_,$projectframeline:= .projectframelines}}
    <div>
        {{$projectframeline}}
    </div>
    <br>
    {{end}}
    Övrigt
    <br>
    {{range $_,$otherframeline:= .otherframelines}}
    <div>
        {{$otherframeline}}
    </div>
    <br>
    {{end}}
    Totalt
    <br>
    {{ .totalframeline }}
</div>
<br/>
<footer class="footer-toolbar" style="align-items: center; text-align: center;">
    <p>{{ .motd }} © 2024 GOrdian</p>
</footer>
</body>
</html>
