<head>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="https://aurora.datasektionen.se" type="text/css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOrdian</title>
    <script>
        window.methone_conf = {
        system_name: "GOrdian",
        color_scheme: "blue_grey",
        login_text: {{if .loggedIn}}"Logga ut"{{else}}"Logga in"{{end}}, // Default null, null hides button
        login_href: {{if .loggedIn}}"/logout"{{else}}"/login"{{end}},
        links: [
          {
          str: "Hem",
          href: "/",
          },
          {
            str: "Rambudget",
            href: "/overview",
          },
            {{if sliceContains .permissions "admin" "view-all" }} {
                str: "Administrera",
                href: "/admin",
            }, {{end}}
        ]
        }
    </script>
    <script async src="//methone.datasektionen.se/bar.js"></script>
    <script>
    // The config can be updated dynamically!
    window.methone_conf.update({
    login_text: "Log out", 
    login_href: "/logout"
    })
    // Only the provided keys will be updated.
    </script>
</head>

