<!DOCTYPE html>
<html lang="en">
{{template "head.gohtml" .}}
<body>
<div id="methone-container-replace"></div>
<div class="page-title">
    <h1>Tidigare Budgetar</h1>
</div>
<div style="display: flex; flex-direction: column; align-items: center; text-align: center;">
    <br><br>
    <p>Här kan du se budgetar från tidigare år</p>
    <p>Klicka på en budget för att ladda ner den</p>
    <br><br>
    <a href="/static/budgets/budget_2024.xlsx" download="Template.xlsx">Budget 2024</a>
    <a href="/static/budgets/budget_2023.xlsx" download="Template.xlsx">Budget 2023</a>
    <a href="/static/budgets/budget_2022.xlsx" download="Template.xlsx">Budget 2022</a>
    <a href="/static/budgets/budget_2021.xlsx" download="Template.xlsx">Budget 2021</a>
    <a href="/static/budgets/budget_2020.xlsx" download="Template.xlsx">Budget 2020</a>
    <a href="/static/budgets/budget_2019.xlsx" download="Template.xlsx">Budget 2019</a>
    <a href="/static/budgets/budget_2018.xlsx" download="Template.xlsx">Budget 2018</a>
    <a href="/static/budgets/budget_2017.xlsx" download="Template.xlsx">Budget 2017</a>
    <a href="/static/budgets/budget_2016.xlsx" download="Template.xlsx">Budget 2016</a>
    <a href="/static/budgets/budget_2015.xlsx" download="Template.xlsx">Budget 2015</a>
    <a href="/static/budgets/budget_2014.xlsx" download="Template.xlsx">Budget 2014</a>
    <a href="/static/budgets/budget_2013.xlsx" download="Template.xlsx">Budget 2013</a>
    <a href="/static/budgets/budget_2012.xlsx" download="Template.xlsx">Budget 2012</a>
    <a href="/static/budgets/budget_2011.xlsx" download="Template.xlsx">Budget 2011</a>
</div>
<footer class="footer-toolbar">
    <p>{{.motd}} © 2024 GOrdian</p>
    Budgetsystemet är skrivet av <a href="https://github.com/DouglasFischer">Douglas Fischer</a>
</footer>
</body>
</html>