<!DOCTYPE html>
<html lang="en">
{{template "head.gohtml" .}}
<body>
<div>
    <div id="methone-container-replace"></div>
    <div class="page-title">
        <h1>Datasektionens budgetsystem</h1>
    </div>
    <div id="costCentreNames">
        <div class="costCentre-group">
            <h2> Nämnder </h2>
            <div class="btn-group">
                {{range $_,$committee:= .committees}}
                 <button onclick="location.href='/costcentre/{{$committee.CostCentreID}}'"> {{$committee.CostCentreName}} </button>
                 {{end}}
            </div>
        </div>
         <div class="costCentre-group">
            <h2> Projekt </h2>
                <div class="btn-group">
                {{range $_,$project:= .projects}}
                    <button onclick="location.href='/costcentre/{{$project.CostCentreID}}'"> {{$project.CostCentreName}} </button>
                {{end}}
            </div>
        </div>
            <div class="costCentre-group">
            <h2> Övrigt </h2>
           <div class="btn-group">
                {{range $_,$other:= .others}} 
                    <button onclick="location.href='/costcentre/{{$other.CostCentreID}}'"> {{$other.CostCentreName}} </button>
                {{end}}
             </div>
        </div>
    </div>
    <br/>
    </div>
    <footer class="footer-toolbar">
        <p>{{ .motd }} © 2024 GOrdian</p>
        Budgetsystemet är skrivet av <a href="https://github.com/DouglasFischer">Douglas Fischer</a>
    </footer>
</body>
</html>
