<!DOCTYPE html>
<html lang="en">
{{template "head.html"}}
<body>
    <div id="methone-container-replace"></div>
    <div style="background-color: #78909C !important; color: white; padding: 20px;">
        <h1 style="font-weight: bolder; font-size: 42px;">Datasektionens budgetsystem</h1>
    </div>
    <div id="costCentreNames">
        <div class="btn-group">
            <h1> Nämnder </h1>
            <ul style="display: grid;
            grid-template-columns: 1fr 1fr 1fr;">
                {{range $_,$committee:= .committees}} <button onclick="location.href='/costcentre/{{$committee.CostCentreID}}'"> {{$committee.CostCentreName}} </button>{{end}}
            </ul>
        </div>
        <div class="btn-group">
            <h1> Projekt </h1>
            <ul style="display: grid;
            grid-template-columns: 1fr 1fr;">
                {{range $_,$project:= .projects}}
                    <button onclick="location.href='/costcentre/{{$project.CostCentreID}}'"> {{$project.CostCentreName}} </button>
                {{end}}
            </ul>
        </div>
        <div class="btn-group">
            <h1> Övrigt </h1>
            <ul style="display: grid;
            grid-template-columns: 1fr;">
                {{range $_,$other:= .others}} 
                    <button onclick="location.href='/costcentre/{{$other.CostCentreID}}'"> {{$other.CostCentreName}} </button>
                {{end}}
            </ul>
        </div>
    </div>
    <br/>
    <footer class="footer-toolbar" style="align-items: center; text-align: center;">
        <p>{{ .motd }} © 2024 GOrdian</p>
    </footer>
</body>
</html>
