<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/main.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOrdian</title>
</head>
<body>
    <h1>{{ .motd }}</h1>
    <h1> Nämnder </h1>
    {{range $_,$committee:= .committees}} <h2> {{$committee.CostCentreName}} </h2>{{end}}
    <h1> Projekt </h1>
    {{range $_,$project:= .projects}} <h2> {{$project.CostCentreName}} </h2>{{end}}
    <h1> Övrigt </h1>
    {{range $_,$other:= .others}} <h2> {{$other.CostCentreName}} </h2>{{end}}
</body>
</html>
