<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/main.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOrdian</title>
</head>
<body>
    <h1>{{ .motd }}</h1>
    <div id="costCentreNames">
        <div>
            <h1> Nämnder </h1>
            {{range $_,$committee:= .committees}} <a href="/costcentre/{{$committee.CostCentreID}}"> {{$committee.CostCentreName}} </a>{{end}}
        </div>
        <div>
            <h1> Projekt </h1>
            {{range $_,$project:= .projects}} <a href="/costcentre/{{$project.CostCentreID}}"> {{$project.CostCentreName}} </a>{{end}}
        </div>
        <div>
            <h1> Övrigt </h1>
            {{range $_,$other:= .others}} <a href="/costcentre/{{$other.CostCentreID}}"> {{$other.CostCentreName}} </a>{{end}}
        </div>
    </div>
</body>
</html>
