<!DOCTYPE html>
<html lang="en">
{{template "head.gohtml" .}}
<body>
<div id="methone-container-replace"></div>
<div style="background-color: #78909C !important; color: white; padding: 20px;">
    <h1 style="font-weight: bolder; font-size: 42px;">Resultatrapport</h1>
</div>
<a>idiot</a>
<br><br><br><br><br><br><br>
<footer class="footer-toolbar" style="align-items: center; text-align: center;">
    <p>{{ .motd }} © 2024 GOrdian</p>
    Budgetsystemet är skrivet av <a href="https://github.com/DouglasFischer">Douglas Fischer</a>
</footer>
</body>
</html>